/* 레이아웃 */
#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;

}

#banner {
    width: 100%;
}

/* 헤더 */
.container {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    background: #fff;

    .header1 {
        height: 45px;
        background: #f4f4f4;
        text-align: center;

        ul {
            li {
                display: inline-block;
                font-size: 13px;
                padding: 11px 65px;

                a {
                    padding: 14px 0 11px;
                    color: #999999;
                    font-weight: bold;
                }
            }

            li.active {
                border-bottom: 4px solid #96c11f;

                a {
                    color: #000000;
                }
            }
        }
    }

    // header1

    .header2 {
        display: flex;
        justify-content: space-between;
        margin: 0 60px;

        h1 {
            width: 140px;
            margin: 18px 0 0 20px;

            svg {
                fill: #000;
                transition: all 0.2s;

                &:hover {
                    fill: #fff;
                }
            }

        }

        .nav {
            margin-left: 60px;

            li {
                display: inline;

                a {
                    font-size: 17px;
                    color: #000;
                    font-weight: 700;
                    padding: 26px 22px;
                    display: inline-block;
                }
            }

            li.live {
                a {
                    padding: 4px 20px 6px 20px;
                    display: inline-block;
                    border: 1px solid #fff;
                    border-radius: 20px;
                }
            }
        }

        .side-nav {
            margin-right: 40px;

            li {
                display: inline;

                a {
                    width: 25px;
                    display: inline-block;
                    padding: 28px 0px 0px 20px;
                }
            }
        }
    }

    // header2
}

.container2 {
    border-bottom: 1px solid #f0f0f0;
    height: 60px;
    padding-top: 20px;
    background: #fff;

    .header3 {
        position: relative;
        justify-content: space-between;
        margin: 0 85px;
        background: #fff;

        a.back {
            position: absolute;
            left: 0;
            padding: 10px;
            border: 1px solid #e6e6e6;

            img {
                width: 17px;
            }
        }
        ul {
            position: absolute;
            font-size: 14px;
            left: 50px;
            padding-top: 10px;
            color: #666666;
            li {
                display: inline;

                &:first-child {
                    position: relative;
                    margin-right: 30px;
                    }
                &:first-child::after {
                    content: '/';
                    position: absolute;
                    right: -20px;
                }
            }
        }
        a.down {
            position: absolute;
            left: 220px;
            padding-top: 13px;
            img {
                width: 10px;
            }
        }
        a.more {
            position: absolute;
            right: 0;
            padding: 10px;
            border: 1px solid #e6e6e6;

            img {
                width: 20px;
            }

            &:hover {
                border-bottom: 3px solid #da1009;
                transition: top, 2s ease;

            }
        }
    }
}

// container2

/* 배너 */
.swiper-container {
    margin-top: 265px;
    .promotion {
        text-align: center;
        h1 {
            font-size: 64px;
            font-weight: 500;
        }
        h2 {
            margin: 70px 0 40px 0;
            font-size: 32px;
            font-weight: 600;
            span {
                display: inline-block;
                border: 1px solid #96c11f;
                border-radius: 50%;
                background: #96c11f;
                width: 20px;
                height: 20px;

            }
        }
    }
}

// 배너
